# EDA on Retail Gold Schema Data

**Overview:**  
This notebook is focused on performing **Exploratory Data Analysis (EDA)** on the `gold` schema of our dataset. The schema contains both fact and dimension tables that represent sales, stock, customers, staff, products, and stores.  

**Schema Summary:**  
- **Fact Tables:**  
    - `fact_sales`: Contains transactional sales data with details such as quantity, price, discount, and dates.  
    - `fact_stocks`: Contains inventory data for stores and products.  

- **Dimension Tables:**  
    - `dim_customers`: Customer information including name, contact, and address.  
    - `dim_staffs`: Staff details including name, store association, and manager.  
    - `dim_products`: Product catalog with category, brand, pricing, and model year.  
    - `dim_stores`: Store details including address and contact information.  

**Objectives:**  
1. Connect to SQL Server and load the gold schema data into Python using **pyodbc**.  
2. Explore the data to gain **insights and trends**.
3. Perform **summary statistics and visualizations** to understand distributions, relationships, and patterns.  
4. Create charts and plots to uncover interesting aspects of the business, such as sales per product, store performance, or customer segmentation.  
5. Prepare the data for further **analysis and reporting in Power BI**.  

**Tools & Libraries:**  
- Python (`pandas`, `numpy`)  
- SQL connection (`pyodbc`)  
- Data visualization (`matplotlib`, `seaborn`)  

This notebook will help generate insights from the gold dataset and create a foundation for **Power BI dashboards and reporting**.

# Loading Gold Schema Data into Python

**Overview:**  
We will load data from our SQL Server `gold` schema into Python using `pyodbc`. This will allow us to perform EDA, generate insights, and visualize the data.

**Notes:**  
- All tables (fact and dimension tables) will be loaded as Pandas DataFrames.  
- These DataFrames will be used for charts, aggregations, and other exploratory tasks.

In [ ]:
import pyodbc
import pandas as pd

# Connection parameters
server = 'your_server_name\SQLEXPRESS'        
database = 'DataWarehouse'           


# Connection string
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
C:\Users\puroh\AppData\Local\Temp\ipykernel_2680\342284136.py:5: SyntaxWarning: invalid escape sequence '\S'
  server = 'KRUSHNA\SQLEXPRESS'

In [2]:
# Connect
conn = pyodbc.connect(conn_str)

In [ ]:
# Load all the tables
df_customers = pd.read_sql_query('SELECT * FROM gold.dim_customers', conn)
df_products  = pd.read_sql_query('SELECT * FROM gold.dim_products', conn)
df_staffs    = pd.read_sql_query('SELECT * FROM gold.dim_staffs', conn)
df_stores    = pd.read_sql_query('SELECT * FROM gold.dim_stores', conn)
df_sales     = pd.read_sql_query('SELECT * FROM gold.fact_sales', conn)
df_stocks    = pd.read_sql_query('SELECT * FROM gold.fact_stocks', conn)

In [4]:
# Printing rows and columns of each DataFrame
print(f"dim_customers: {df_customers.shape}")
print(f"dim_products:  {df_products.shape}")
print(f"dim_staffs:    {df_staffs.shape}")
print(f"dim_stores:    {df_stores.shape}")
print(f"fact_sales:    {df_sales.shape}")
print(f"fact_stocks:   {df_stocks.shape}")

dim_customers: (1445, 10)
dim_products:  (321, 8)
dim_staffs:    (10, 8)
dim_stores:    (3, 9)
fact_sales:    (4722, 19)
fact_stocks:   (939, 4)

# Overview of all dataframes

- .shape → rows, columns
- .info() → data types, nulls
- .head() → first few rows
- .describe() → stats for numeric columns

In [5]:
dfs = {
    "Customers": df_customers,
    "Products": df_products,
    "Sales": df_sales,
    "Staffs": df_staffs,
    "Stores": df_stores,
    "Stocks": df_stocks
}

for name, df in dfs.items():
    print(f"\n=== {name} ===")
    print("Shape:", df.shape)
    print()
    print(df.info())
    print()
    print("Top 3 rows :")
    print(df.head(3))
    print()
    print("Describe")
    print(df.describe())

=== Customers ===
Shape: (1445, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   1445 non-null   int64
 1   first_name    1445 non-null   object
 2   last_name     1445 non-null   object
 3   phone         178 non-null    object
 4   email         1445 non-null   object
 5   street        1445 non-null   object
 6   city          1445 non-null   object
 7   state         1445 non-null   object
 8   zip_code      1445 non-null   object
 9   full_address  1445 non-null   object
dtypes: int64(1), object(9)
memory usage: 113.0+ KB
None

Top 3 rows :
   customer_id first_name last_name phone                  email  \
0            1      Debra     Burks  None  debra.burks@yahoo.com
1            2      Kasha      Todd  None   kasha.todd@yahoo.com
2            3     Tameka    Fisher  None  tameka.fisher@aol.com

                  street           city state    zip_code  \
0      9273 Thorne Ave.    Orchard Park    NY  14127
1       910 Vine Street        Campbell    CA  95008
2  769C Honey Creek St.   Redondo Beach    CA  90278

                                     full_address
0       9273 Thorne Ave., Orchard Park, NY, 14127
1            910 Vine Street, Campbell, CA, 95008
2  769C Honey Creek St., Redondo Beach, CA, 90278

Describe
       customer_id
count  1445.000000
mean    723.000000
std     417.279882
min       1.000000
25%     362.000000
50%     723.000000
75%    1084.000000
max    1445.000000

=== Products ===
Shape: (321, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     321 non-null    int64
 1   category_id    321 non-null    int64
 2   brand_id       321 non-null    int64
 3   product_name   321 non-null    object
 4   category_name  321 non-null    object
 5   brand_name     321 non-null    object
 6   model_year     321 non-null    int64
 7   list_price     321 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 20.2+ KB
None

Top 3 rows :
   product_id  category_id  brand_id                        product_name  \
0           1            6         9                     Trek 820 - 2016
1           2            6         5  Ritchey Timberwolf Frameset - 2016
2           3            6         8     Surly Wednesday Frameset - 2016

    category_name brand_name  model_year  list_price
0  Mountain Bikes       Trek        2016      379.99
1  Mountain Bikes    Ritchey        2016      749.99
2  Mountain Bikes      Surly        2016      999.99

Describe
       product_id  category_id    brand_id   model_year    list_price
count  321.000000   321.000000  321.000000   321.000000    321.000000
mean   161.000000     4.028037    5.476636  2017.591900   1520.591402
std     92.808944     2.188569    3.708131     0.665063   1612.152765
min      1.000000     1.000000    1.000000  2016.000000     89.990000
25%     81.000000     2.000000    1.000000  2017.000000    439.990000
50%    161.000000     3.000000    7.000000  2018.000000    761.990000
75%    241.000000     6.000000    9.000000  2018.000000   2299.990000
max    321.000000     7.000000    9.000000  2019.000000  11999.990000

=== Sales ===
Shape: (4722, 19)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             4722 non-null   int64
 1   item_id              4722 non-null   int64
 2   customer_id          4722 non-null   int64
 3   product_id           4722 non-null   int64
 4   staff_id             4722 non-null   int64
 5   store_id             4722 non-null   int64
 6   quantity             4722 non-null   int64
 7   list_price           4722 non-null   float64
 8   discount             4722 non-null   float64
 9   discount_percentage  4722 non-null   float64
 10  total_price          4722 non-null   float64
 11  order_status         4722 non-null   int64
 12  order_status_desc    4722 non-null   object
 13  order_date           4722 non-null   object
 14  required_date        4722 non-null   object
 15  shipped_date         4214 non-null   object
 16  ship_status          4722 non-null   object
 17  days_to_ship         4214 non-null   float64
 18  delay_vs_required    4214 non-null   float64
dtypes: float64(6), int64(8), object(5)
memory usage: 701.1+ KB
None

Top 3 rows :
   order_id  item_id  customer_id  product_id  staff_id  store_id  quantity  \
0         1        1          259          20         2         1         1
1         1        2          259           8         2         1         2
2         1        3          259          10         2         1         2

   list_price  discount  discount_percentage  total_price  order_status  \
0      599.99      0.20                 20.0       479.99             4
1     1799.99      0.07                  7.0      3347.98             4
2     1549.00      0.05                  5.0      2943.10             4

  order_status_desc  order_date required_date shipped_date ship_status  \
0         Completed  2016-01-01    2016-01-03   2016-01-03   Completed
1         Completed  2016-01-01    2016-01-03   2016-01-03   Completed
2         Completed  2016-01-01    2016-01-03   2016-01-03   Completed

   days_to_ship  delay_vs_required
0           2.0                0.0
1           2.0                0.0
2           2.0                0.0

Describe
          order_id      item_id  customer_id   product_id     staff_id  \
count  4722.000000  4722.000000  4722.000000  4722.000000  4722.000000
mean    821.265354     2.262601   659.057603    59.366158     5.871665
std     465.152168     1.199129   444.190561    67.312708     1.905089
min       1.000000     1.000000     1.000000     2.000000     2.000000
25%     423.250000     1.000000   238.250000    14.000000     6.000000
50%     828.500000     2.000000   646.500000    28.000000     6.000000
75%    1226.000000     3.000000  1052.000000    84.000000     7.000000
max    1615.000000     5.000000  1445.000000   315.000000     9.000000

          store_id     quantity    list_price     discount  \
count  4722.000000  4722.000000   4722.000000  4722.000000
mean      1.897289     1.498941   1212.707872     0.105373
std       0.559372     0.500052   1352.798257     0.058119
min       1.000000     1.000000     89.990000     0.050000
25%       2.000000     1.000000    429.000000     0.050000
50%       2.000000     1.000000    599.990000     0.085000
75%       2.000000     2.000000   1549.000000     0.200000
max       3.000000     2.000000  11999.990000     0.200000

       discount_percentage   total_price  order_status  days_to_ship  \
count          4722.000000   4722.000000   4722.000000   4214.000000
mean             10.537272   1628.358685      3.772342      1.979829
std               5.811884   2017.917569      0.702262      0.809873
min               5.000000     71.990000      1.000000      1.000000
25%               5.000000    474.980000      4.000000      1.000000
50%               8.500000    845.980000      4.000000      2.000000
75%              20.000000   1799.987500      4.000000      3.000000
max              20.000000  21599.980000      4.000000      3.000000

       delay_vs_required
count        4214.000000
mean           -0.010679
std             1.136591
min            -2.000000
25%            -1.000000
50%             0.000000
75%             1.000000
max             2.000000

=== Staffs ===
Shape: (10, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    10 non-null     int64
 1   first_name  10 non-null     object
 2   last_name   10 non-null     object
 3   phone       10 non-null     object
 4   email       10 non-null     object
 5   active      10 non-null     int64
 6   manager_id  9 non-null      float64
 7   store_id    10 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 772.0+ bytes
None

Top 3 rows :
   staff_id first_name last_name       phone                       email  \
0         1    Fabiola   Jackson  8315555554  fabiola.jackson@bikes.shop
1         2     Mireya  Copeland  8315555555  mireya.copeland@bikes.shop
2         3      Genna   Serrano  8315555556    genna.serrano@bikes.shop

   active  manager_id  store_id
0       1         NaN         1
1       1         1.0         1
2       1         2.0         1

Describe
       staff_id  active  manager_id   store_id
count  10.00000    10.0    9.000000  10.000000
mean    5.50000     1.0    3.444444   1.900000
std     3.02765     0.0    2.554952   0.875595
min     1.00000     1.0    1.000000   1.000000
25%     3.25000     1.0    1.000000   1.000000
50%     5.50000     1.0    2.000000   2.000000
75%     7.75000     1.0    5.000000   2.750000
max    10.00000     1.0    7.000000   3.000000

=== Stores ===
Shape: (3, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      3 non-null      int64
 1   store_name    3 non-null      object
 2   phone         3 non-null      object
 3   email         3 non-null      object
 4   street        3 non-null      object
 5   city          3 non-null      object
 6   state         3 non-null      object
 7   zip_code      3 non-null      object
 8   full_address  3 non-null      object
dtypes: int64(1), object(8)
memory usage: 348.0+ bytes
None

Top 3 rows :
   store_id        store_name       phone                 email  \
0         1  Santa Cruz Bikes  8314764321  santacruz@bikes.shop
1         2     Baldwin Bikes  5163798888    baldwin@bikes.shop
2         3     Rowlett Bikes  9725305555    rowlett@bikes.shop

                street        city state    zip_code  \
0   3700 Portola Drive  Santa Cruz    CA  95060
1   4200 Chestnut Lane     Baldwin    NY  11432
2  8000 Fairway Avenue     Rowlett    TX  75088

                                full_address
0  3700 Portola Drive, Santa Cruz, CA, 95060
1     4200 Chestnut Lane, Baldwin, NY, 11432
2    8000 Fairway Avenue, Rowlett, TX, 75088

Describe
       store_id
count       3.0
mean        2.0
std         1.0
min         1.0
25%         1.5
50%         2.0
75%         2.5
max         3.0

=== Stocks ===
Shape: (939, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      939 non-null    int64
 1   product_id    939 non-null    int64
 2   quantity      939 non-null    int64
 3   out_of_stock  939 non-null    bool
dtypes: bool(1), int64(3)
memory usage: 23.1 KB
None

Top 3 rows :
   store_id  product_id  quantity  out_of_stock
0         1           1        27         False
1         1           2         5         False
2         1           3         6         False

Describe
         store_id  product_id    quantity
count  939.000000  939.000000  939.000000
mean     2.000000  157.000000   14.388711
std      0.816932   90.403007    8.832070
min      1.000000    1.000000    0.000000
25%      1.000000   79.000000    7.000000
50%      2.000000  157.000000   14.000000
75%      3.000000  235.000000   22.000000
max      3.000000  313.000000   30.000000

## Dataset Overview – Initial Observations  

### Customers (1,445 rows, 10 columns)  
- Majority of fields are complete.  
- **Phone numbers** missing for most customers (~88% missing).  

### Products (321 rows, 8 columns)  
- Covers **7 categories** and multiple brands.  
- Price ranges from **$89.99 to $11,999.99**, large spread.  

### Sales (4,722 rows, 19 columns)  
- Rich dataset with customer, product, staff, store, and order details.  
- Dates (`order_date`, `required_date`, `shipped_date`) mostly valid, but **~500 missing shipped dates**.  

### Staffs (10 rows, 8 columns)  
- Small team of 10 staff members.  
- All marked as **active**.  
- Includes hierarchy via `manager_id`.  

### Stores (3 rows, 9 columns)  
- Only 3 stores in the dataset.  
- Each store has complete contact and address details.  

### Stocks (939 rows, 4 columns)  
- Tracks inventory levels per store per product.  
- Some products have `quantity = 0` (flagged as `out_of_stock = True`).  
- Quantities range from 0 to 30 units.